*{
    margin: 0px;
    padding: 0px;
}
.headercontainer{
    width: 100%;
    height:33.8rem;
    background-color: #DDB08F;
  
}
.headerlist a{
    color: white;

}
.headertext{
    padding: 4rem;
    padding-top: 10rem;
}
.Getbtn{
    color: white;
    background-color:#D6673C ;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
}
.Handymantext h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #FCE4D3;
}
.logoicon ul{
    list-style-type: none;
    margin-top: 5rem;

}
.imgcontainer img{
    width: 100%;
    height:70vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.roofre{
    bottom: 5rem;
    left: 4rem;
}
.bgimgfurniture{
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
    background-image: url("images/furnitureassembly.webp");
    background-size:cover;
}
.playbtn{
    border: 1px solid white;
    padding: 3rem;
}
.pricepolicy{
    background-color: #292826;
    padding: 4rem;
}
.goldpack{
    background-color: #2F2E2C;
    padding: 2rem;
}
.goldpackimg{
    width: 50%;
   
}
.getnow{
    background-color: #CF633A;
    color: white;
    padding:1rem;
    border: none;


}
.silverpack{
    margin-top: 6rem;
    background-color: #2F2E2C;
    padding: 2rem;
}
.getnow1{
    background-color:#D6AD3C;
    color: white;
    padding:1rem;
    border: none;


}
.clearprice {
    list-style-type: none;
    padding: 0px;

}
.clearprice i{
    color: #D6AD3C;
    
}

.countsection{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    position: relative;
    
}
.countsection div{
    color: #2F2E2C;
    font-size: 10rem;
    font-weight: 600;
    
    

}
.countsection p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
   
}
.item1{
    position: absolute;
    left: 6rem;
    top: 7rem;

}
.item2{
    position: absolute;
    left: 25rem;
    top: 7rem;

}
.item3{
    position: absolute;
    left: 43rem;
    top: 7rem;

}
.item4{
    position: absolute;
    left: 60rem;
    top: 7rem;

}
.repairtext{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    margin-top: 3rem;
}
.play{
    border: 1px solid black;
    padding: 1.2rem;
    margin-bottom: 1rem;
}
.pepoleoffice{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    gap: 1rem;
    position: absolute;
    top: 20rem;
    left: -5rem;

}
.people{
    background-color: #292826;
    color: white;
    padding: 1rem;
}
.office{
    background-color: #D6AD3C;
    color: white;
    padding: 1rem;
}
.ABOUTOURWORKSLIDER{
text-align: center;	
}
.ABOUTOURWORKSLIDER img{
 width: 8rem;
 height: 8rem;
 border-radius: 50%;
 margin: 3rem;

}
.formsection{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
.footerimg{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 4rem;
}
.footerimg img{
    width: 10%;
}
.footerlist{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.footerlist li a{
    color: #858484;
    text-decoration: none;
    padding: 1rem;
    
}
.footersocialicon{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footersocialicon li{
    margin: .5rem;
}
.footersocialicon i{
    color: white;
    border: 1px solid white;
    padding: 1rem;
}